.btn-primary {
  background-color: #0099d7;
  border-color: #0099d7;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background-color: #1d7ca3;
  border-color: #1d7ca3;
}
.btn-primary:disabled, .btn-primary.disabled {
  background-color: #0099d7;
  border-color: #0099d7;
}
