<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Gtek Outage Map</h1>
  <ul>
    {% if g.user %}
      <li>Tech Logged In
      <li><a href="{{ url_for('tech.tech') }}">Update Outage Towers</a>
      <li><a href="{{ url_for('status.status') }}">Update Status</a>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('status.status') }}">See Status</a>
      <li><a href="{{ url_for('auth.login') }}">Tech Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

{% block script %}{% endblock %}
