{% extends 'base.html' %}

{% block header %}
  <h1 class="text-center">{% block title %}Outage Map{% endblock %}</h1>
{% endblock %}

{% block content %}
  <meta name="csrf-token" content="{{ csrf_token() }}">
  <style>
    body {
      padding: 0 30px; 
    }
    #map {
      height: 600px; 
      width: 100%;
    }
    .center-container {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
  </style>

  <p class="text-center">Enter your full address to search for potential outages in your area that may be affecting you.</p>
  <div class="container center-container">
    <div class="row justify-content-center">
      <div class="col-md-15">
          <input id="autocomplete" type="text" class="form-control" placeholder="Enter address">
          <!-- <button onclick="findIfOutage()">Find Outages</button> -->
      </div>
    </div>
  </div>
  
  <div id="map"></div>
  <div id="nearest-point"></div>
{% endblock %}

{% block script %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZuq4Bjk6RTomkv9lA9isb8o0nPXBPV6w&libraries=places,geometry"></script>
<script src="{{ url_for('static', filename='outage_map.js') }}"></script>
{% endblock %}
