{% extends 'base.html' %}

{% block header %}
  <div class="jumbotron text-center">
    <h1 class="display-4">{% block title %}Network Status{% endblock %}</h1>
    {% if g.user %}
      <a class="btn btn-primary" href="{{ url_for('status.create') }}">Create New Outage Report</a>
    {% endif %}
  </div>
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post mb-4">
      <div class="card">
        <div class="card-header">
          <h2 class="h5">{{ post['title'] }}</h2>
          <div class="status, font-weight-bold">Status: {{ post['status'] }}</div>
          <div class="about text-muted" data-timestamp="{{ post['created'] }}"></div>
        </div>
        <div class="card-body">
          <p class="card-text">{{ post['body'] }}</p>
          
          {% if post['updates'] %}
            <ul class="list-group list-group-flush updates">
              {% for update in post['updates'] %}
                <li class="list-group-item">
                  <strong>Update {{  loop.revindex }}:</strong>
                  <p class="update-content">{{ update['update_content'] }}</p>
                  <div class="about text-muted" data-timestamp="{{ update['updated_at'] }}"></div>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
          
          {% if g.user %}
            <div class="mt-3">
              <a class="btn btn-secondary btn-sm" href="{{ url_for('status.edit', id=post['id'], do_update='false') }}">Edit</a>
              <a class="btn btn-secondary btn-sm" href="{{ url_for('status.edit', id=post['id'], do_update='true') }}">Update</a>
            </div>
          {% endif %}
        </div>
      </div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}

{% block script %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const timestampElements = document.querySelectorAll('.about[data-timestamp]');

    timestampElements.forEach(element => {
      const timestamp = element.getAttribute('data-timestamp');
      const date = new Date(timestamp + " UTC");

      // Convert UTC date to Central Time
      const options = { 
        timeZone: 'America/Chicago', 
        year: 'numeric', 
        month: '2-digit', 
        day: '2-digit', 
        hour: '2-digit', 
        minute: '2-digit', 
        second: '2-digit' 
      };
      const centralTime = new Intl.DateTimeFormat('en-US', options).format(date);

      element.innerText = centralTime;
    });
  });
</script>
{% endblock %}
