{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Tech Portal{% endblock %}</h1>
{% endblock %}

{% block content %}
<script>
  function selectDeselectAll(checked) {
      var checkboxes = document.getElementsByName('tower_status[]');
      for (var i = 0; i < checkboxes.length; i++) {
          checkboxes[i].checked = checked;
      }
  }

  function submitForm(action) {
      var form = document.getElementById("techLoginForm");
      var actionInput = document.createElement("input");
      actionInput.setAttribute("type", "hidden");
      actionInput.setAttribute("name", "action");
      actionInput.setAttribute("value", action);
      form.appendChild(actionInput);

      var checkboxes = form.querySelectorAll('input[name="tower_status[]"]:checked');
      if (checkboxes.length > 0) {
          form.submit();
      }
  }
</script>

<h2>Tech Login</h2>
<form id="techLoginForm" method="post" action="/tech">
    <table>
        <thead>
            <tr>
                <th><input type="checkbox" onclick="selectDeselectAll(this.checked)"></th>
                <th>Tower Name</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for tower in towers %}
            <tr>
                <td><input type="checkbox" name="tower_status[]" value="{{ tower.name }}"></td>
                <td>{{ tower.name }}</td>
                <td>{{ tower.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <button type="button" onclick="submitForm('online')">Make Online</button>
    <button type="button" onclick="submitForm('offline')">Make Offline</button>
</form>
{% endblock %}